<html>
    <head>
        <title>AR Page</title>
    </head>

    <body bgcolor="PaleTurquoise" link="DarkBlue" vlink="DarkBlue" alink="DarkBlue">
        <font face="Tw Cen MT" color="FireBrick" size="5">

            <center>
                <h1>Augmented Reality</h1>
            </center>

            <p>
                AR overlays digitally created content into the user's real-world environment. It uses transparent optics and a viewable environment in which users are aware of their surroundings and themselves. An additional advantage of AR is its inherently three dimensional nature of media which means it can be viewed from all angles by multiple audiences simultaneously.

                At the Deloitte Insight Lab, you can take an iPad, hold it over the trigger - a custom made poster map - and see for yourself. A factory appears in 3D, and holding your device over the poster you can experience a fully operating production line manufacturing rubber ducks. The scenario is ready to be observed from all angles by moving around it to learn more about the concept of the 'Digital Twin'.
                
                <br>
                <center><img src="../static/AR.jpg" width="850" height="506"></center>
                <br>


                AR is used in various industries and consumer-facing products. For example, IKEA uses AR for their Place app, which allows users to position items of furniture in real size in their own living room, with just a few clicks.

                <ul>
                    <b>PROS</b>
                    <li>Easily accessible (via tablet, smartphone, etc.)</li>
                    <li>Collaborative experience</li>
                </ul>

                <br>

                <ul>
                    <b>CONS</b>
                    <li>Limited interaction with the content</li>
                    <li>No immersion</li>
                </ul>

                <br>

                <ul>
                    <b>Examples</b>
                    <li>Instagram and Snapchat Filters</li>
                    <li>Games like Pokemon Go</li>
                </ul>

            </p>
            <br>
            <p><a href="./home.html">Back to home page</a></p>

        </font>
    </body>
</html>