<html>
    <head>
        <title>Digital Realities</title>
    </head>

    <body bgcolor="Snow" link="tomato" vlink="tomato" alink="tomato">
        <font face="Verdana">

            <center>
                <h1>Digital Reality with Immersive Experience</h1>
            </center>

            <p>
                Immersive technology is an integration of virtual content with the physical environment in a way that allows the user to engage naturally with the blended reality.  In an immersive experience, the user accepts virtual elements of their environment as part of the whole, potentially becoming less conscious that those elements are not part of physical reality. It is any technology that extends reality or creates a new reality by leveraging the 360 space. Because Immersive Technology leverages the 360 space/sphere, users can look in any direction and see content. Some types of Immersive Technology extend reality by overlaying digital images on a user's environment. Others create a new reality by completely shutting a user out from the rest of the world and immersing them in a digital environment. Digital reality refers to the wide spectrum of technologies and affordances that include Augmented Reality, Virtual Reality and Mixed Reality that simulate reality in various ways.
            </p>
            <br>
            <center><img src="../static/Reality_Continuum.jpeg"></center>
            <br>
            <h3>Types of Immersive Technologies:</h3>
            <ul>
                <li>Augmented Reality (AR)</li>
                <li>Virtual Reality (VR)</li>
                <li>Mixed Reality (MR)</li>
            </ul>

            <br><br>

            <h3>Augmented Reality (AR):</h3>
            <p>Augmented Reality is a combination of the real world and certain digital elements. The most well-known example of AR is certainly the mobile game Pokemon Go. This is where objects are placed according to GPS or geolocated co-ordinates. However increasingly we are seeing AR been used to overlay additional moving content to static flat content. For example we recently worked with Unilever to bring an internal poster campaign to life by having animations that sat behind the posters and which were activated by holding the phone over the images. The AR overlay also enabled to viewer to visit specific internal websites which were accessible by an AR click through button. Simple but effective and also very measurable via back end analytics.</p>
            <p><a href="./ar.html">Click here to learn more</a></p>

            <br><br>
            <h3>Virtual Reality (VR):</h3>
            <p>When we talk about Virtual Reality, we are describing a fully constructed CGI digital world into which you place the user and which they can interact with. All of the contents of the world are man-made and rendered as needed. When we talk about Virtual Reality, we are describing a fully constructed CGI digital world into which you place the user and which they can interact with. All of the contents of the world are man-made and rendered as needed.</p>
            <p><a href="./vr.html">Click here to learn more</a></p>

            <br><br>
            <h3>Mixed Reality (MR):</h3>
            <p>Mixed Reality (MR) is somewhat a combination of AR and VR. Like VR, MR also uses an HMD. Unlike VR, however, a user is not shut out from the rest of the world. Instead, the HMD is more like a pair of glasses that overlays digital images on top of your environment (just like AR). Because of this, MR is sometimes called AR 2.0. An MR headset that is currently available to the market is the Microsoft Hololens. This takes “extending reality” to the next level and as Mixed Reality continues to evolve, we might just be looking into a future where desktops and laptops are no longer a thing and all of our computer work is done with the help of an MR headset.</p>
            <p><a href="./mr.html">Click here to learn more</a></p>

            <br><br><br><br>
            <p link="Brown" vlink="Brown" alink="Brown"><a href="./ar.html" >Next page (Augmented Reality)</a></p>

            <p link="Brown" vlink="Brown" alink="Brown"><a href="./index.html" >About Us</a></p>


        </font>
    </body>
</html>