<html>
    <head>
        <title>About Us</title>
    </head>

    <body bgcolor="PaleTurquoise" link="DarkBlue" vlink="DarkBlue" alink="DarkBlue">
        <font face="Tw Cen MT" color="FireBrick" size="5">

            <h1>About Us</h1>

            <p>
            We are 'TechGuys'. We belong to the class VII Kalam. We are also a part of 'Techno Wizard' club. The team comprises of the following members:
            <h4><u><i>Team members:</i></u></h4>
            
                <p>
                    <img src="../static/AR.jpg" width="250px"><br>
                    Ved Patel
                </p>
                <br><br>

                <p>
                    <img src="../static/AR.jpg" width="250px"><br>
                    Vansh Jain
                </p>
                <br><br>

                <p>
                    <img src="../static/AR.jpg" width="250px"><br>
                    Nimish Sharma
                </p>
                <br><br>

            

            We are keen and enthusiastic about new upcoming technologies and their functioning. Immersive technologies are starting to become a part of our life. Our project imparts a brief knowledge about the existing and upcoming immersive technologies. Immersive technologies comprises of Augmented Reality (AR), Virtual Reality (VR) and Mixed Reality.

            You can access our project by clicking on the link below: 
            
            <center><p><a href="./home.html">Digital Reality with Immersive Experience</a></p></center>

            </p>

        </font>
    </body>
</html>