<html>
    <head>
        <title>About Us</title>
    </head>

    <body bgcolor="Snow" link="tomato" vlink="tomato" alink="tomato">
        <font face="Verdana">

            <h1>About Us</h1>

            <p>
            We are 'TechGuys'. We belong to the class VII Kalam. We are also a part of 'Techno Wizard' club. The team comprises of the following members:
            <h5>Team members</h5>
            <ol type="I">
                <li>Ved Patel (Roll No. 40)</li>
                <li>Vansh Jain (Roll No. 39)</li>
                <li>Nimish Sharma (Roll No. 23)</li>
            </ol>

            We are keen and enthusiastic about new upcoming technologies and their functioning. Immersive technologies are starting to become a part of our life. Our project imparts a brief knowledge about the existing and upcoming immersive technologies. Immersive technologies comprises of Augmented Reality (AR), Virtual Reality (VR) and Mixed Reality.

            You can access our project by clicking on the link below: 
            
            <center><p><a href="./home.html">Digital Reality with Immersive Experience</a></p></center>

            </p>

        </font>
    </body>
</html>