<html>
    <head>
        <title>Mixed Reality</title>
    </head>

    <body bgcolor="PaleTurquoise" link="DarkBlue" vlink="DarkBlue" alink="DarkBlue">
        <font face="Tw Cen MT" color="FireBrick" size="5">

            <center>
                <h1>Mixed Reality</h1>
            </center>

            <p>
                Using MR devices such as the Microsoft HoloLens or the Magic Leap you can project 3D holograms into your field of vision on top of a see-through lens. It seamlessly blends the user's real-world environment and digitally created content in a way that allows both environments to coexist and interact. MR utilises advanced sensors for room mapping with a depth sensor and simple gesture recognition. You can interact fully with the content - move, twist, and rescale - as required.

                <br>
                    <center><img src="../static/MR.jpg" width="850" height="479"></center>
                <br>
                
                Applications for MR are almost all of those for AR and VR technologies. Currently the most prominent advanced are in research & development, education, architecture, and engineering. An early application is a holographic workstation for financial trading. The workstation enables a trader to increase their efficiency by overlaying 2D and 3D holographic charts and workflows over their real world desk.
            </p>

            <ul>
                <b>PROS</b>
                <li> Virtual objects interact with real world spaces</li>
                <li>High interaction with the content</li>
                <li> Free range of movement</li>
            </ul>

            <br>

            <ul>
                <b>CONS</b>
                <li>No full immersion and limited holographic vision field</li>
                <li>Currently a lack of mature tools and applications</li>
                <li>Specific and expensive tools needed for access</li>
            </ul>

            <br>

            <ul>
                <b>Examples</b>
                <li>Microsoft HoloLens 2 headset</li>
                <li>Magic Leap One headset</li>
            </ul>

            <br>
            <p><a href="./home.html">Back to home page</a></p>
            
        </font>
    </body>
</html>